.menu-btn {

   // .menu-btn__burger

   &__burger {
   }
}
.nav {
}
.menu-nav {

   // .menu-nav__item

   &__item {
   }

   // .menu-nav__link

   &__link {
   }
}
.active {
}
.about {

   // .about__bio-image

   &__bio-image {
   }

   // .about__bio

   &__bio {
   }
}
.text-secondary {
}
.jobs {
   &__offer {
      font-size: 1.2rem !important;
   }
   &__btn {
      display: grid;
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      padding-bottom: 1.5rem;
   }
   
   // .jobs__job

   &__job {
   }
}
.benefits {
}
.call {
}
.social-icons {
}
.fab {
}
.fa-twitter {
}
.fa-2x {
}
.fa-facebook {
}
.fa-instagram {
}
.fa-github {
}
