.menu-btn {

   // .menu-btn__burger

   &__burger {
   }
}
.nav {
}
.menu-nav {

   // .menu-nav__item

   &__item {
   }

   // .menu-nav__link

   &__link {
   }
}
.active {
}
.contact {

   // .contact__list

   &__list {
      
   }

   // .contact__email

   &__email {
   }

   // .contact__phone

   &__phone {
      &_underline {
         text-decoration: underline;
      }
   }

   // .contact__address

   &__address {
   }
}
.social-icons {
}
.fab {
}
.fa-telegram-plane {
   padding: 0 0.5rem;

}
.fa-2x {
}
.fa-whatsapp {
   padding-left: 0.5rem;
}
.fa-mobile-alt {
   padding-right: 0.5rem;
}
